<style>
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Parkinsans:wght@300..800&display=swap');
</style>
*{
    margin: 0;
    padding: 0;
}
.container{
    /* margin: 20px; */
    background-color:rgb(149, 149, 187) ;
    min-height: 100vh;
    border: 5px solid black;

}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.img-container img{
    /* margin-top: 10vh; */
    border-radius: 500px;

}
.top-section {
    display: flex;
    justify-content:space-between;
    margin-top: 90px;
    font-size: larger;
    font-weight: bold;
    align-items: flex-end;

    
}
.top-section h4{
    text-align: end;
}
section.about{
    margin: 100px;
    line-height: 20px;
    font-family:'courier new';
}
.about h2{
    font-size: 30px;
}
.about p{
    margin-top: 10px;
}
.roles{
    margin: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul li{
    margin-bottom: 10px;
}
footer{
    display: flex;
    justify-content: center;
}